<a href="https://colab.research.google.com/github/aleksandrapelka/MachineLearning/blob/main/feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ekstrakcja cech**

## Spis treści

1. [Import bibliotek](#0)
2. [Załadowanie danych](#1)
3. [Utworzenie kopii danych](#2)
4. [Generowanie nowych zmiennych](#3)
5. [Dyskretyzacja zmiennej ciągłej](#4)
6. [Ekstrakcja cech](#5)

## <a name='0'></a> 1. Import bibliotek

In [4]:
import pandas as pd
import numpy as np
import sklearn
import pandas_datareader.data as web

## <a name='1'></a> 2. Załadowanie danych (notowania spółki Amazon)

In [5]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

              Open      High      Low   Close    Volume
Date
2023-04-14  102.07  103.2013  101.110  102.51  51450522
2023-04-13   98.95  102.5700   98.710  102.40  67925138
2023-04-12  100.40  100.5100   97.705   97.83  56735007
2023-04-11  100.80  101.0000   99.010   99.92  60417847
2023-04-10  100.96  102.2000   99.570  102.17  37261185

## <a name='2'></a> 3. Utworzenie kopii danych

In [11]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2023-04-14 to 2023-04-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

## <a name='3'></a> 4. Generowanie nowych zmiennych

In [15]:
df.index

DatetimeIndex(['2023-04-14', '2023-04-13', '2023-04-12', '2023-04-11',
               '2023-04-10'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [12]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

              Open      High      Low   Close    Volume  day  month  year
Date
2023-04-14  102.07  103.2013  101.110  102.51  51450522   14      4  2023
2023-04-13   98.95  102.5700   98.710  102.40  67925138   13      4  2023
2023-04-12  100.40  100.5100   97.705   97.83  56735007   12      4  2023
2023-04-11  100.80  101.0000   99.010   99.92  60417847   11      4  2023
2023-04-10  100.96  102.2000   99.570  102.17  37261185   10      4  2023

## <a name='4'></a> 5. Dyskretyzacja zmiennej ciągłej

In [16]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

#### Podział zmiennej ciągłej na 3 kategorie

In [17]:
df['height_cat'] = pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

#### Utworzenie własnych przedziałów

In [18]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

#### Utworzenie własnych etykiet zamiast przedziałów wartości

In [19]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195), labels=['small', 'medium', 'high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

#### Utworzenie zmiennych binarnych

In [21]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

## <a name='5'></a> 6. Ekstrakcja cech

In [22]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

#### Utworzenie nowej kolumny przechowującej liczbę języków

In [23]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

#### Utworzenie nowej kolumny przechowującej informację o obecności języka polskiego

In [24]:
df['PL_flag'] = df['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [25]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

####  Rozdzielenie obserwacji wzgledem znaku '.'

In [26]:
df.website.str.split('.', expand=True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [29]:
new = df.website.str.split('.', expand=True)
df['portal'] = new[0]
df['extension'] = new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com